In [1]:
# 1. Write a code to create a string with your name and print it.
name="surajit maity"
print(name)

surajit maity

In [4]:
# 2. Write a code to find the length of the string "Hello World"
name="Hello World"
print(len(name))

11

In [6]:
# 3.  Write a code to slice the first 3 characters from the string "Python Programming"
name="Python Programming"
name=name[:3]
print(name)

Pyt

In [7]:
# 4. Write a code to convert the string "hello" to uppercase
name="hell0"
name=name.upper()
print(name)

HELL0

In [11]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
str1="I like apple"
str1=str1.replace("apple","orange")
print(str1)

I like orange

In [10]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
list1=[]
for i in range(1,6):
    list1.append(i)
print(list1)

[1, 2, 3, 4, 5]

In [11]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4]
list1=[1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [13]:
# 8.write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list1=[1, 2, 3, 4, 5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [16]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list1=['a', 'b', 'c', 'd']
print(list1[1])

b

In [1]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50].
list1=[10, 20, 30, 40, 50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [4]:
# 11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup=(100,200,300)
print(tup)

(100, 200, 300)

In [5]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tup=('red', 'green', 'blue', 'yellow')
print(tup[1:])

('green', 'blue', 'yellow')

In [8]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup=(10, 20, 5, 15)
min=tup[0]
for i in tup:
    if min>i:
        min=i
print(min)

5

In [9]:
# 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup11=('dog', 'cat', 'rabbit')
print(tup1.index("cat"))

1

In [10]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
frout=("banana","mango","apple")
if "kiwi" in frout:
    print("'kiwi' is in frout tuple")
else:
    print("'kiwi' is not in frout tuple")

'kiwi' is not in frout tuple

In [11]:
# 16. write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1=('a', 'b', 'c')
print(set1)

('a', 'b', 'c')

In [18]:
#17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1= {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [19]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1={1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [21]:
# 19. 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

In [22]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={2,3,5}
set3=set1.intersection(set2)
print(set3)

{2, 3}

In [3]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1={"name":"surajit maity",
       "age":19,
       "city":"kalkata"}
print(dict1)

{'name': 'surajit maity', 'age': 19, 'city': 'kalkata'}

In [12]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict1={'name': 'John', 'age': 25}
dict1.update({"country": "USA"})
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [21]:
#  23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict1={'name': 'Alice', 'age': 30}
print(dict1.items())

dict_items([('name', 'Alice'), ('age', 30)])

In [30]:
#  24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict1={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop("age")
print(dict1)

{'name': 'Bob', 'city': 'New York'}

In [32]:
#  25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict1={'name': 'Alice', 'city': 'Paris'}
p="city" in dict1
print(p)

True

In [34]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list1=[2,3,4,5,'surajit',3+4j]
tuple1={23,45,67,"maity",5+3j}
dict1={'name': 'Alice', 'city': 'Paris'}
print(f"list is{list1}\n tuple is{tuple1}\n dictonary is{dict1}")

list is[2, 3, 4, 5, 'surajit', (3+4j)]
 tuple is{67, 'maity', 23, 45, (5+3j)}
 dictonary is{'name': 'Alice', 'city': 'Paris'}

In [27]:
#  27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random as rn
random_number=rn.sample(range(1,100),5)
random_number=sorted(random_number)
print(random_number)

[5, 14, 33, 65, 88]

In [2]:
# 28. Write a code to create a list with strings and print the element at the third index.
list1=["surajit","suman","bithika","tithi","sarama","sukanta"]
print(list1[3])

tithi

In [1]:
#  29. Write a code to combine two dictionaries into one and print the result.
dict1={"Name":"surajit maity",
       "Age":19,
       "Address":"kakdwip"
       }
dict2={"name":"tithi maity",
       "age":19,
       "address":"kakdwip"
       }
dict1.update(dict2)
print(dict1)

{'Name': 'surajit maity', 'Age': 19, 'Address': 'kakdwip', 'name': 'tithi maity', 'age': 19, 'address': 'kakdwip'}

In [21]:
#  30. Write a code to convert a list of strings into a set.
list1=["surajit","suman","bithika","tithi","sarama","sukanta"]
set1=set(list1)
print(set1)

{'bithika', 'sarama', 'sukanta', 'surajit', 'suman', 'tithi'}